<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=BmV6YAWHXiiG96lsWkwwSFXPYajfYopy"></script>
    <script src="{{ url_for('static', filename = 'echarts.js') }}"></script>
    <script src="{{ url_for('static', filename = 'bmap.js') }}"></script>
    <title>Title</title>
    <style>
        .BMap_cpyCtrl {
            display:none;
        }

        .anchorBL{
            display:none;
        }
    </style>
</head>
<body>
<div id="main" style="width: 1980px;height:1200px"></div>
    <div id="main" ></div>
    <script src="{{ url_for('static', filename = 'mybdmap.js') }}"></script>
</body>
</html>