<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.html">

    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../static/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/style-responsive.css" rel="stylesheet" />


</head>

  <body>
    <section id="container" class="">
      <!--header start-->
      <header class="header white-bg">
          <div class="sidebar-toggle-box">
              <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
          </div>
          <!--logo start-->
          <a href="index.html" class="logo" >重庆市<span>房屋交易数据分析</span></a>
          <!--logo end-->
      </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  
                  <li class="sub-menu active">
                      <a href="javascript:;" class="">
                          <i class="icon-th"></i>
                          <span>成交房屋信息</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="basic_table.html">房价分析</a></li>
                          <li class="active"><a class="" href="dynamic_table.html">房源分析</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-glass"></i>
                          <span>在售房屋信息</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="onsale_bycommunity.html">各小区房屋信息</a></li>
                          <li><a class="" href="onsale_bydistrict.html">各地区房屋信息</a></li>
                      </ul>
                  </li>
                 
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>

      <section id="main-content">
        <section class="wrapper">
                      <div class="container">
                        <form class="form-signin" action="basic_table.html">
                          <h2 class="form-signin-heading">历史成交房屋信息-房价分析</h2>
                          <div class="login-wrap">
                              <label for="community">小区名称</label>
                              <input type="text" class="form-control" placeholder="请输入小区名称">
                              <label for="x_value">X轴数据</label>
                                    <select class="form-control" id="x_value">
                                        <option value="Dealdate" selected="selected">成交时间</option>
                                        <option value="Status">装修</option>
                                        <option value="Housetype">户型</option>
                                    </select>
                              <label for="y_value">Y轴数据</label>
                                    <select class="form-control" id="y_value">
                                        <option selected="selected" value="UnitPrice">均价</option>
                                        <option value="TotalPrice">总价</option>
                                    </select>
                              <label for=""></label>
                              <button class="btn btn-lg btn-login btn-block" type="submit">提交</button>
                          </div>
                        </form>
                      <div>
              </section>
      </section>

  </body> 
</html>
